@charset "UTF-8";

@mixin flexible-box ($aspect: 100%) {
	@if & {
		&::Before {
			content: "";

			display: block;
			padding-top: $aspect;
		}
	}
}



$text-color: #6c6e8d;
$outline-color: #717391;
$selected-background-color: #e2e2e8;
$selected-shadow-color: #327cf5;
$selected-tab-text-color: #eeeeee;
$selected-tab-background-color: #f2a012;



.voez {
	margin: 0;
	overflow: hidden;

	color: $text-color;
	font-size: 2.5vmin;



	.voez-slot {
		--degree: initial;

		display: inline-flex;
		flex-direction: row;

		margin: 0;
		padding: 0;

		transform: rotate(var(--degree, 0));
		transform-origin: center;
	}

	.voez-grid {
		@extend .voez-slot;

		display: grid;
		grid-template-columns: var(--columns, none);
		grid-template-rows: var(--rows, none);
		grid-template-areas: var(--tiles, none);

		

		.voez-slot,
		.voez-tile {
			grid-area: var(--tile, "");
		}
	}



	.voez-tile {
		@include flexible-box();

		display: inline-flex;
		justify-content: center;
		align-items: center;
		
		margin: 0 0.5vmin 0.5vmin 0;
		outline: 0.5vmin solid $outline-color;
		// box-shadow: 2px -2px 10px 0px black;
		
		transition:
			background-color 0.25s linear,
			box-shadow 0.1s linear;



		&:hover {
			background-color: $selected-background-color;
			box-shadow: 0px 0px 10px 2.5px $selected-shadow-color;

			transition:
				background-color 0.25s linear,
				box-shadow 0.1s linear;
		}

		A {
			text-decoration: none;
		}

		.voez-tile--item {
			display: flex;
			justify-content: center;
			align-items: center;

			width: 100%;
			height: 100%;

			color: inherit;

			transform: rotate(calc(var(--degree, 0) * -1));



			Svg {
				fill: $text-color;



				&:hover {
					fill: $selected-tab-text-color;
				}
			}
		}

		.voez-tile--item-picture {
			transform: none;
		}
	}

	.voez-tabs {
		@extend .voez-tile;

		cursor: pointer;



		> .voez-tabs--cover {
			@extend .voez-tile--item;
		}

		> .voez-tabs--holder {
			@extend .voez-slot;

			flex-wrap: wrap;

			width: 100%;
			height: 100%;

			cursor: initial;



			> .voez-tab {
				width: 50%;
				height: 50%;

				transition:
					color 0.1s linear,
					background-color 0.1s linear;

				&:not(.voez-tab--empty):hover {
					color: $selected-tab-text-color;
					background-color: $selected-tab-background-color;

					transition:
						color 0.1s linear,
						background-color 0.1s linear;
				}
			}

			> .voez-tab.voez-tab--back {
				cursor: pointer;
			}
		}
	}

	.voez-text {
		display: inline;
		font-family: "メイリオ", "Meiryo";
	}

	

	.hidden {
		display: none !important;
	}
}